setup-kernel-build-env
*~
*.log
obj/
.config
.config.old
.missing-syscalls.d
.version
arch/arm/common/.built-in.o.cmd
arch/arm/common/.cpaccess.o.cmd
arch/arm/common/.gic.o.cmd
arch/arm/common/built-in.o
arch/arm/common/cpaccess.o
arch/arm/common/gic.o
arch/arm/common/modules.order
arch/arm/configs/msm8660_ucle2_defconfig
arch/arm/kernel/.armksyms.o.cmd
arch/arm/kernel/.asm-offsets.s.cmd
arch/arm/kernel/.built-in.o.cmd
arch/arm/kernel/.elf.o.cmd
arch/arm/kernel/.entry-armv.o.cmd
arch/arm/kernel/.entry-common.o.cmd
arch/arm/kernel/.head.o.cmd
arch/arm/kernel/.init_task.o.cmd
arch/arm/kernel/.io.o.cmd
arch/arm/kernel/.irq.o.cmd
arch/arm/kernel/.kprobes-decode.o.cmd
arch/arm/kernel/.kprobes.o.cmd
arch/arm/kernel/.module.o.cmd
arch/arm/kernel/.perf_event.o.cmd
arch/arm/kernel/.pmu.o.cmd
arch/arm/kernel/.process.o.cmd
arch/arm/kernel/.ptrace.o.cmd
arch/arm/kernel/.return_address.o.cmd
arch/arm/kernel/.sched_clock.o.cmd
arch/arm/kernel/.setup.o.cmd
arch/arm/kernel/.signal.o.cmd
arch/arm/kernel/.sleep.o.cmd
arch/arm/kernel/.smp.o.cmd
arch/arm/kernel/.smp_scu.o.cmd
arch/arm/kernel/.smp_tlb.o.cmd
arch/arm/kernel/.stacktrace.o.cmd
arch/arm/kernel/.swp_emulate.o.cmd
arch/arm/kernel/.sys_arm.o.cmd
arch/arm/kernel/.sys_oabi-compat.o.cmd
arch/arm/kernel/.time.o.cmd
arch/arm/kernel/.traps.o.cmd
arch/arm/kernel/.unwind.o.cmd
arch/arm/kernel/.vmlinux.lds.cmd
arch/arm/kernel/armksyms.o
arch/arm/kernel/asm-offsets.s
arch/arm/kernel/built-in.o
arch/arm/kernel/elf.o
arch/arm/kernel/entry-armv.o
arch/arm/kernel/entry-common.o
arch/arm/kernel/head.o
arch/arm/kernel/init_task.o
arch/arm/kernel/io.o
arch/arm/kernel/irq.o
arch/arm/kernel/kprobes-decode.o
arch/arm/kernel/kprobes.o
arch/arm/kernel/module.o
arch/arm/kernel/modules.order
arch/arm/kernel/perf_event.o
arch/arm/kernel/pmu.o
arch/arm/kernel/process.o
arch/arm/kernel/ptrace.o
arch/arm/kernel/return_address.o
arch/arm/kernel/sched_clock.o
arch/arm/kernel/setup.o
arch/arm/kernel/signal.o
arch/arm/kernel/sleep.o
arch/arm/kernel/smp.o
arch/arm/kernel/smp_scu.o
arch/arm/kernel/smp_tlb.o
arch/arm/kernel/stacktrace.o
arch/arm/kernel/swp_emulate.o
arch/arm/kernel/sys_arm.o
arch/arm/kernel/sys_oabi-compat.o
arch/arm/kernel/time.o
arch/arm/kernel/traps.o
arch/arm/kernel/unwind.o
arch/arm/kernel/vmlinux.lds
arch/arm/mach-msm/.acpuclock.o.cmd
arch/arm/mach-msm/.clock-debug.o.cmd
arch/arm/mach-msm/.clock-dummy.o.cmd
arch/arm/mach-msm/.clock-voter.o.cmd
arch/arm/mach-msm/.clock.o.cmd
arch/arm/mach-msm/.cpufreq.o.cmd
arch/arm/mach-msm/.dma.o.cmd
arch/arm/mach-msm/.headsmp.o.cmd
arch/arm/mach-msm/.hotplug.o.cmd
arch/arm/mach-msm/.idle-v7.o.cmd
arch/arm/mach-msm/.io.o.cmd
arch/arm/mach-msm/.memory.o.cmd
arch/arm/mach-msm/.modem_notifier.o.cmd
arch/arm/mach-msm/.msm_dsps.o.d
arch/arm/mach-msm/.nohlt.o.cmd
arch/arm/mach-msm/.peripheral-loader.o.cmd
arch/arm/mach-msm/.peripheral-reset.o.cmd
arch/arm/mach-msm/.pil-modem.o.cmd
arch/arm/mach-msm/.pil-q6v3.o.cmd
arch/arm/mach-msm/.pil-tzapps.o.cmd
arch/arm/mach-msm/.platsmp.o.cmd
arch/arm/mach-msm/.pmu.o.cmd
arch/arm/mach-msm/.remote_spinlock.o.cmd
arch/arm/mach-msm/.scm-boot.o.cmd
arch/arm/mach-msm/.scm-io.o.cmd
arch/arm/mach-msm/.scm-pas.o.cmd
arch/arm/mach-msm/.scm.o.cmd
arch/arm/mach-msm/.sdio_al.o.cmd
arch/arm/mach-msm/.sdio_al_dloader.o.cmd
arch/arm/mach-msm/.sdio_al_test.o.cmd
arch/arm/mach-msm/.sdio_cmux.o.cmd
arch/arm/mach-msm/.sdio_dmux.o.cmd
arch/arm/mach-msm/.sdio_tty.o.cmd
arch/arm/mach-msm/.smd.o.cmd
arch/arm/mach-msm/.smd_debug.o.cmd
arch/arm/mach-msm/.smd_pkt.o.cmd
arch/arm/mach-msm/.smd_tty.o.cmd
arch/arm/mach-msm/.smem_log.o.cmd
arch/arm/mach-msm/.socinfo.o.cmd
arch/arm/mach-msm/.subsystem_map.o.cmd
arch/arm/mach-msm/.timer.o.cmd
arch/arm/mach-msm/acpuclock.o
arch/arm/mach-msm/clock-debug.o
arch/arm/mach-msm/clock-dummy.o
arch/arm/mach-msm/clock-voter.o
arch/arm/mach-msm/clock.o
arch/arm/mach-msm/cpufreq.o
arch/arm/mach-msm/dma.o
arch/arm/mach-msm/headsmp.o
arch/arm/mach-msm/hotplug.o
arch/arm/mach-msm/idle-v7.o
arch/arm/mach-msm/io.o
arch/arm/mach-msm/memory.o
arch/arm/mach-msm/modem_notifier.o
arch/arm/mach-msm/nohlt.o
arch/arm/mach-msm/peripheral-loader.o
arch/arm/mach-msm/peripheral-reset.o
arch/arm/mach-msm/pil-modem.o
arch/arm/mach-msm/pil-q6v3.o
arch/arm/mach-msm/pil-tzapps.o
arch/arm/mach-msm/platsmp.o
arch/arm/mach-msm/pmu.o
arch/arm/mach-msm/remote_spinlock.o
arch/arm/mach-msm/scm-boot.o
arch/arm/mach-msm/scm-io.o
arch/arm/mach-msm/scm-pas.o
arch/arm/mach-msm/scm.o
arch/arm/mach-msm/sdio_al.o
arch/arm/mach-msm/sdio_al_dloader.o
arch/arm/mach-msm/sdio_al_test.o
arch/arm/mach-msm/sdio_cmux.o
arch/arm/mach-msm/sdio_dmux.o
arch/arm/mach-msm/sdio_tty.o
arch/arm/mach-msm/smd.o
arch/arm/mach-msm/smd_debug.o
arch/arm/mach-msm/smd_pkt.o
arch/arm/mach-msm/smd_tty.o
arch/arm/mach-msm/smem_log.o
arch/arm/mach-msm/socinfo.o
arch/arm/mach-msm/subsystem_map.o
arch/arm/mach-msm/timer.o
arch/arm/mm/.abort-ev7.o.cmd
arch/arm/mm/.alignment.o.cmd
arch/arm/mm/.built-in.o.cmd
arch/arm/mm/.cache-v7.o.cmd
arch/arm/mm/.context.o.cmd
arch/arm/mm/.copypage-v6.o.cmd
arch/arm/mm/.dma-mapping.o.cmd
arch/arm/mm/.extable.o.cmd
arch/arm/mm/.fault-armv.o.cmd
arch/arm/mm/.fault.o.cmd
arch/arm/mm/.flush.o.cmd
arch/arm/mm/.highmem.o.cmd
arch/arm/mm/.idmap.o.cmd
arch/arm/mm/.init.o.cmd
arch/arm/mm/.iomap.o.cmd
arch/arm/mm/.ioremap.o.cmd
arch/arm/mm/.mmap.o.cmd
arch/arm/mm/.mmu.o.cmd
arch/arm/mm/.pabort-v7.o.cmd
arch/arm/mm/.pgd.o.cmd
arch/arm/mm/.proc-syms.o.cmd
arch/arm/mm/.proc-v7.o.cmd
arch/arm/mm/.tlb-v7.o.cmd
arch/arm/mm/.vmregion.o.cmd
arch/arm/mm/abort-ev7.o
arch/arm/mm/alignment.o
arch/arm/mm/built-in.o
arch/arm/mm/cache-v7.o
arch/arm/mm/context.o
arch/arm/mm/copypage-v6.o
arch/arm/mm/dma-mapping.o
arch/arm/mm/extable.o
arch/arm/mm/fault-armv.o
arch/arm/mm/fault.o
arch/arm/mm/flush.o
arch/arm/mm/highmem.o
arch/arm/mm/idmap.o
arch/arm/mm/init.o
arch/arm/mm/iomap.o
arch/arm/mm/ioremap.o
arch/arm/mm/mmap.o
arch/arm/mm/mmu.o
arch/arm/mm/modules.order
arch/arm/mm/pabort-v7.o
arch/arm/mm/pgd.o
arch/arm/mm/proc-syms.o
arch/arm/mm/proc-v7.o
arch/arm/mm/tlb-v7.o
arch/arm/mm/vmregion.o
arch/arm/vfp/.built-in.o.cmd
arch/arm/vfp/.entry.o.cmd
arch/arm/vfp/.vfp.o.cmd
arch/arm/vfp/.vfpdouble.o.cmd
arch/arm/vfp/.vfphw.o.cmd
arch/arm/vfp/.vfpmodule.o.cmd
arch/arm/vfp/.vfpsingle.o.cmd
arch/arm/vfp/built-in.o
arch/arm/vfp/entry.o
arch/arm/vfp/modules.order
arch/arm/vfp/vfp.o
arch/arm/vfp/vfpdouble.o
arch/arm/vfp/vfphw.o
arch/arm/vfp/vfpmodule.o
arch/arm/vfp/vfpsingle.o
config
include/config/
include/generated/
include/linux/version.h
init/.built-in.o.cmd
init/.calibrate.o.cmd
init/.do_mounts.o.cmd
init/.do_mounts_initrd.o.cmd
init/.do_mounts_rd.o.cmd
init/.initramfs.o.cmd
init/.main.o.cmd
init/.mounts.o.cmd
init/.version.o.cmd
init/built-in.o
init/calibrate.o
init/do_mounts.o
init/do_mounts_initrd.o
init/do_mounts_rd.o
init/initramfs.o
init/main.o
init/modules.order
init/mounts.o
init/version.o
kernel/.bounds.s.cmd
kernel/bounds.s
modules.order
scripts/.bin2c.cmd
scripts/.conmakehash.cmd
scripts/.kallsyms.cmd
scripts/.unifdef.cmd
scripts/basic/.fixdep.cmd
scripts/basic/fixdep
scripts/basic/modules.order
scripts/bin2c
scripts/conmakehash
scripts/genksyms/.genksyms.cmd
scripts/genksyms/.genksyms.o.cmd
scripts/genksyms/.lex.o.cmd
scripts/genksyms/.parse.o.cmd
scripts/genksyms/genksyms
scripts/genksyms/genksyms.o
scripts/genksyms/keywords.c
scripts/genksyms/lex.c
scripts/genksyms/lex.o
scripts/genksyms/modules.order
scripts/genksyms/parse.c
scripts/genksyms/parse.h
scripts/genksyms/parse.o
scripts/kallsyms
scripts/kconfig/.conf.cmd
scripts/kconfig/.conf.o.cmd
scripts/kconfig/.zconf.tab.o.cmd
scripts/kconfig/conf
scripts/kconfig/conf.o
scripts/kconfig/lex.zconf.c
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.tab.c
scripts/kconfig/zconf.tab.o
scripts/mod/.elfconfig.h.cmd
scripts/mod/.empty.o.cmd
scripts/mod/.file2alias.o.cmd
scripts/mod/.mk_elfconfig.cmd
scripts/mod/.modpost.cmd
scripts/mod/.modpost.o.cmd
scripts/mod/.sumversion.o.cmd
scripts/mod/elfconfig.h
scripts/mod/empty.o
scripts/mod/file2alias.o
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/mod/modpost.o
scripts/mod/modules.order
scripts/mod/sumversion.o
scripts/modules.order
scripts/unifdef
usr/.built-in.o.cmd
usr/.gen_init_cpio.cmd
usr/.initramfs_data.cpio.cmd
usr/.initramfs_data.cpio.d
usr/.initramfs_data.o.cmd
usr/built-in.o
usr/gen_init_cpio
usr/include/
usr/initramfs_data.cpio
usr/initramfs_data.o
usr/modules.order
Documentation/DocBook/media/v4l/controls.xml
